ion-datetime {
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height:40px;
    font-size:1.1rem;
}

.submit-button {
    margin-top: 15px;
}

ion-card ion-label {
    font-size: 1.3rem !important;
}